# Dakota Analytics Technical Assessment

# PostgreSQL Configuration
POSTGRES_DB=energy_analytics
POSTGRES_USER=dakota_user
POSTGRES_PASSWORD=Password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# EIA API Key
EIA_API_KEY=idhK284sMRB1GBYZy1SUDmtISshFVpnGbHhquEHe

# Enrichment API URL
ENRICHMENT_API_URL=http://api:8000

# Dagster Configuration
DAGSTER_PG_DB=dagster_db
DAGSTER_PG_HOST=postgres
DAGSTER_PG_PORT=5432
DAGSTER_PG_USER=dakota_user
DAGSTER_PG_PASSWORD=Password
